<launch>

	<!-- For the USB2Dynamixel use controller value "robotis".  For the ArbotiX, use "arbotix". -->
	<arg name="controller" value="arbotix" />
	
	<arg name="left_right" value="left" />
  
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_robot)/urdf/pi_robot.urdf.xacro'" />

    <param name="/use_gui" value="False" />
    <!--
    <param name="rate" value="0.001" />
    -->
    <param name="/use_sim_time" value="False" />
 
 	<!-- Comment if using joint state publisher with real servos -->
 	<!--
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    -->

    <include file="$(find pi_robot)/launch/$(arg controller).launch" />
		
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    	<param name="publish_frequency" value="20.0"/>
    </node>
    
    <!--
    <node name="$(arg left_right)_arm_kinematics" pkg="arm_kinematics" type="arm_kinematics" output="screen">
		<param name="root_name" value="lower_torso_link" />
		<param name="tip_name" value="$(arg left_right)_finger_link" />
	</node>
	-->
			
	<node pkg="tf" type="static_transform_publisher" name="base_world_broadcaster" args="0 0 0 0 0 0 /base_link /world 100" />
	
</launch>
