<launch>
    <!-- Load the URDF/Xacro model of our robot -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_head_pointing_tutorial)/urdf/pi_robot.urdf.xacro'" />

    <!-- Publish the robot state -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    	<param name="publish_frequency" value="20.0"/>
    </node>

	<!-- Start the low-level driver manager with parameters -->
    <node name="ax12_manager" pkg="ax12_controller_core" type="controller_manager.py" required="true" output="screen">
        <param name="port_name" type="str" value="/dev/ttyUSB0" />
        <param name="baud_rate" type="int" value="1000000"/>
        <param name="min_motor_id" type="int" value="1"/>
        <param name="max_motor_id" type="int" value="14"/>
        <param name="update_rate" type="int" value="10"/>
    </node>

    <!-- Load joint controller configuration from YAML file to parameter server -->
    <rosparam file="$(find pi_robot)/params/ax12_params.yaml" command="load"/>

    <!-- Start all Pi Robot joint controllers -->
    <node name="ax12_controller_spawner" pkg="ax12_controller_core" type="controller_spawner.py"
          args="--port /dev/ttyUSB0
		head_pan_controller
		head_tilt_controller
		right_shoulder_pan_controller
		right_shoulder_lift_controller
		right_arm_roll_controller
		right_elbow_controller
		right_wrist_controller
		left_shoulder_pan_controller
		left_shoulder_lift_controller
		left_arm_roll_controller
		left_elbow_controller
		left_wrist_controller
		torso_controller"
        output="screen" />
        
	<!-- Start the AX12 Joint States Publisher -->
	<node name="ax12_joint_states_publisher" pkg="pi_robot" type="ax12_joint_states.py" output="screen" />
	
</launch>
