<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_robot)/urdf/pi_robot.urdf.xacro'" />

  <!-- Use simulated time for bag files -->
  <param name="/use_sim_time" value="True" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="True" />
    <param name="rate" value="20.0"/>
  </node>
    
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="rate" value="20.0"/>
  </node>
  
</launch>
