<launch>
 
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_robot)/urdf/pi_robot.urdf.xacro'" />
	<!--
    <param name="single_joint" command="cat $(find pi_robot)/urdf/single_joint.urdf.xml" />
    -->
    <param name="/use_gui" value="False" />
    <param name="/use_sim_time" value="True" />

	<node name="spawn_pi_robot" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -z 0.01 -model pi_robot" respawn="false" output="screen" />
<!--
	<node name="spawn_sing_joint" pkg="gazebo" type="spawn_model" args="-urdf -param single_joint -z 0.01 -model single_joint" respawn="false" output="screen" />
-->
<!--
  	<node name="diffdrive" pkg="gazebo_plugins" type="gazebo_ros_diffdrive" respawn="true" output="screen"/>
-->

 <!--    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />   
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />


     <node name="arm_kinematics" pkg="arm_kinematics" type="arm_kinematics" output="screen">
		<param name="root_name" value="left_shoulder_link" />
		<param name="tip_name" value="left_hand_link" />
	</node>

			
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /odom /map 100" />
	<node pkg="tf" type="static_transform_publisher" name="odom_base_broadcaster" args="0 0 0 0 0 0 /base_link /odom 100" />

	<node pkg="tf" type="static_transform_publisher" name="world_base_broadcaster" args="0 0 0 0 0 0 /base_link /world 100" />
	-->	
</launch>
