<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_robot)/urdf/pi_robot.urdf.xacro'" />

    <include file="$(find head_tracking_tutorial)/launch/arbotix.launch" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<param name="publish_frequency" value="20.0"/>
    </node>
    
    <!--
    <include file="$(find head_tracking_tutorial)/launch/ax12_controller.launch" />
    -->
    <!--
    <include file="$(find head_tracking_tutorial)/launch/robotis_joint_controller.launch" />
    -->
    
    <node name="head_track_node" pkg="head_tracking_tutorial" type="head_track_node.py" output="screen" />
    
	<include file="$(find head_tracking_tutorial)/launch/camera.launch" />
	
    <node name="vision_node" pkg="head_tracking_tutorial" type="vision_node.py" output="screen" />
    
    <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /odom /map 100" />
	<node pkg="tf" type="static_transform_publisher" name="odom_base_broadcaster" args="0 0 0 0 0 0 /base_link /odom 100" />
	
    
</launch>