<launch>

    <!-- Make sure simulated time is off -->
    <param name="/use_sim_time" value="False" />
    
 	<!-- Use the joint state publisher and robot state publisher so we can see the robot in RViz. -->
    <param name="robot_description" command="cat $(find pi_robot)/pi_robot_description/urdf/pi_robot_urdf.xml" />
	<param name="/use_gui" value="True" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
  	<!-- Run the map server with a blank map -->
  	<node name="map_server" pkg="map_server" type="map_server" args="$(find pi_robot)/maps/blank_map.yaml"/>

 	 <!-- Run fake localization -->
  	<node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen" />
    
    <!-- For fake localization we need static transforms between /odom and /map and /odom and /world -->
    <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /odom /map 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_map_broadcaster" args="0 0 0 0 0 0 /map /world 100" /> 
  	
  	<!-- Fire up the PML on the ArbotiX -->
    <node name="arbotix" pkg="arbotix" type="arbotix-node.py">
       <rosparam file="$(find pi_robot)/params/params_arbotix.yaml" command="load" />
    </node>
  	
   	<!-- Fire up the Serializer -->
    <node name="serializer" pkg="serializer" type="serializer_node.py">
       <rosparam file="$(find pi_robot)/params/serializer_params.yaml" command="load" />
    </node>
   
</launch>
