<launch>
  <master auto="start"/>
   
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find pi_robot)/maps/blank_map.yaml" />
  
  <!-- Run Fake Localization -->
  <node pkg="fake_localization" type="fake_localization" name="fake_localization" output="screen" />

  <!-- Create a static transform between the /odom frame and /map -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 /base_link /odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /odom /map 100" />
  <node pkg="tf" type="static_transform_publisher" name="world_map_broadcaster" args="0 0 0 0 0 0 /map /world 100" /> 
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find pi_robot)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pi_robot)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pi_robot)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pi_robot)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pi_robot)/params/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
