<launch>
	<param name="use_sim_time" value="false" />
	
  	<!-- For the USB2Dynamixel use controller value "robotis".  For the ArbotiX, use "arbotix". -->
	<arg name="controller" value="robotis" />
	
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_robot)/urdf/pi_robot.urdf.xacro'" />
	
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    	<param name="publish_frequency" value="20.0"/>
    </node>
    
    <include file="$(find pi_robot)/launch/$(arg controller).launch" />

    <node name="test_joints" pkg="pi_robot" type="test_joints.py" output="screen" />
		 
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /odom /map 100" />
	<node pkg="tf" type="static_transform_publisher" name="odom_base_broadcaster" args="0 0 0 0 0 0 /base_link /odom 100" />
</launch>
