<launch>
  
    <!--
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	<param name="/use_gui" value="True" />
    </node>
    -->
    
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_robot)/urdf/kinect.urdf.xacro'" />

	<node name="arbotix" pkg="arbotix" type="arbotix-node.py" output="screen">
		<rosparam file="$(find pi_robot)/params/test_servos.yaml" command="load" />
	</node>
	
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    	<param name="publish_frequency" value="20.0"/>
    </node>

    <node name="test_joints" pkg="pi_robot" type="test_joints.py" output="screen" />
		 
	<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /odom /map 100" />
	<node pkg="tf" type="static_transform_publisher" name="odom_base_broadcaster" args="0 0 0 0 0 0 /base_link /odom 100" />
</launch>
