<launch>
	<node pkg="wubble_controllers" type="pi_ax12_to_pr2_state_msgs.py" name="ax12_to_pr2" />
<!--
    <node name="wubble_head_action" pkg="wubble_actions" type="wubble_head_action.py" output="screen">
        <remap from="/head_pan_controller/state" to="/head_pan_controller/state_pr2_msgs"/>
        <remap from="/head_tilt_controller/state" to="/head_tilt_controller/state_pr2_msgs"/>
    </node>
    -->
    
    <node name="pi_arm_action" pkg="wubble_actions" type="pi_arm_action.py" output="screen">
        <remap from="/left_shoulder_pan_controller/state" to="/left_shoulder_pan_controller/state_pr2_msgs"/>
        <remap from="/left_shoulder_lift_controller/state" to="/left_shoulder_lift_controller/state_pr2_msgs"/>    
		<remap from="/left_arm_roll_controller/state" to="/left_arm_roll_controller/state_pr2_msgs"/>
 		<remap from="/left_elbow_controller/state" to="/left_elbow_controller/state_pr2_msgs"/>
 		<remap from="/left_wrist_controller/state" to="/left_wrist_controller/state_pr2_msgs"/>       
    </node>
</launch>
