<launch>

  <!--
  <node name="tracker_command" pkg="demo_tracker" type="tracker_command.py" output="screen">
    <rosparam command="load" file="$(find demo_tracker)/params/tracker_params.yaml" />
  </node>
  -->
  
  <node name="tracker_joint_controller" pkg="demo_tracker" type="tracker_joint_controller.py" output="screen">
    <rosparam command="load" file="$(find demo_tracker)/params/tracker_params.yaml" />
  </node>

  <!--
  <node name="tracker_base_controller" pkg="demo_tracker" type="tracker_base_controller.py" output="screen">
    <rosparam command="load" file="$(find demo_tracker)/params/tracker_params.yaml" />
  </node>
  -->

</launch>
