<launch>
  <!-- Load the URDF/Xacro model of our robot -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_head_tracking_3d_part2)/urdf/kinectbot.urdf.xacro'" />	

    <param name="/use_sim_time" value="False" />
 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    	<param name="publish_frequency" value="20.0"/>
    </node>
    
    <include file="$(find openni_camera)/launch/openni_node.launch" />

    <node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" />

    <node pkg="tf" type="static_transform_publisher" name="base_world_broadcaster" args="0 0 0 0 0 0 /base_link /world 100" />
</launch>
