<launch>
  <node pkg="pi_pcl" name="rgb_cloud_to_image" type="cloud_to_image" output="screen">
    <remap from="input" to="/camera/rgb/points" />
    <remap from="output" to="/rgb_image" />
  </node>
  
  <node pkg="pi_pcl" name="depth_cloud_to_image" type="cloud_to_image" output="screen">
    <remap from="input" to="/camera/depth/points" />
    <remap from="output" to="/depth_image" />
  </node>
</launch>
