<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a Passthrough Filter -->
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
    <remap from="/passthrough/input" to="/camera/depth/points" />
    <param name="filter_limit_min" value="0.0" />
    <param name="filter_limit_max" value="5.0" />
  </node>

  <!-- Run a Statistical Outlier filter -->
  <node pkg="nodelet" type="nodelet" name="stat_outlier" args="load pcl/StatisticalOutlierRemoval pcl_manager" output="screen">
    <remap from="/stat_outlier/input" to="/passthrough/output" />
    <param name="mean_k" value="10" />
    <param name="stddev" value="1" />
  </node>

  <!-- Run a Voxel Grid filter -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <param name="leaf_size" value="0.025" />
    <remap from="/voxel_grid/input" to="/stat_outlier/output" />
  </node>
  
</launch>

