<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a Voxel Grid filter -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <param name="leaf_size" value="0.01" />
    <param name="filter_limit_min" value="0.0" />
    <param name="filter_limit_max" value="5.0" />
    <remap from="/voxel_grid/input" to="/camera/depth/points" />
  </node>
  
</launch>

