<launch>
    <!-- Load the URDF/Xacro model of our robot -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_demo)/urdf/pi_robot.urdf.xacro'" />

    <!-- Publish the robot state -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    	<param name="publish_frequency" value="50.0"/>
    </node>
    
	<node name="arbotix" pkg="arbotix_python" type="driver.py" output="screen">
		<rosparam file="$(find pi_demo)/params/arbotix_params.yaml" command="load" />
	</node>

	<!--	
	<node name="arbotix_joint_controller" pkg="arbotix_controllers" type="joint_controller.py" output="screen">
		<rosparam param="joints">[head_pan_joint, head_tilt_joint, right_shoulder_pan_joint, right_shoulder_lift_joint, right_arm_roll_joint, right_elbow_joint, right_wrist_joint, right_forearm_joint, left_shoulder_pan_joint, left_shoulder_lift_joint, left_arm_roll_joint, left_elbow_joint, left_forearm_joint, left_wrist_joint, torso_joint]</rosparam>
	</node>
	-->
  
   <!-- Publish a static transform between the robot base and the world frame -->
   <node pkg="tf" type="static_transform_publisher" name="world_base_broadcaster" args="0 0 0.0325 0 0 0 /world /base_link 100" />
</launch>
