<launch>
  <include file="$(find openni_camera)/launch/openni_node.launch" />
  
  <node pkg="openni_tracker" name="openni_tracker" type="openni_tracker" output="screen">
    <param name="tf_prefix" value="skeleton" />
  </node>
  
  <node pkg="skeleton_markers" name="skeleton_markers" type="skeleton_markers_from_tf.py" output="screen">
    <rosparam file="$(find skeleton_markers)/params/marker_params.yaml" command="load" />
  </node>
</launch>
