<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_head_tracking_tutorial)/urdf/pi_robot.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<param name="publish_frequency" value="20.0"/>
    </node>     
</launch>