<launch>
    <node name="uvc_cam_node" pkg="uvc_cam" type="uvc_cam_node" output="screen">
		<param name="device" value="/dev/video3" />
		<param name="width" value="320" />
		<param name="height" value="240" />
		<param name="frame_rate" value="30" />

		<!--
		<param name="hue" value="0" />
		<param name="gamma" value="77" />
		-->
    	<param name="absolute_exposure" value="500" />
    	<param name="exposure" value="1" />
		<param name="sharpness" value="2" />
		<param name="gain" value="25" />
		<param name="saturation" value="50" />
		<param name="contrast" value="30" />
		<param name="brightness" value="0" />
		<param name="white_temperature_balance" value="1" />
		<!--
		<param name="back_light_compensation" value="1" />
    	<param name="format_mode" value="1" />
 		-->
    </node>
    
<!--
    <node name="dynamic_reconfigure" pkg="dynamic_reconfigure" type="reconfigure_gui" />
    <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /uvc_cam_node $(find pi_robot)/params/philips_spc1300.yaml" />
-->
</launch>
	