<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pi_description)/urdf/pi_robot.urdf.xacro'" />
	
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="20"/>
  </node>
    
  <node name="arbotix" pkg="arbotix_python" type="driver.py" output="screen">
    <rosparam file="$(find pi_arbotix)/params/arbotix_params.yaml" command="load" />
  </node>
  
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find pi_arbotix)/params/diagnostics.yaml" />
  </node>
  
  <!--
  <node pkg="robot_monitor" type="robot_monitor" name="robot_monitor" />
  -->

   <!--
   <node name="arbotix_joint_controller" pkg="arbotix_controllers" type="joint_controller.py" output="screen">
     <rosparam param="joints">[right_shoulder_pan_joint, right_shoulder_lift_joint]</rosparam>
   </node>
   -->
</launch>
