# The Serializer on Pi Robot
KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", ATTRS{serial}=="A8003OKZ",
SYMLINK+="serializer"

# The USB2Dynamixel on Pi Robot controlling AX-12 servos
#KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", ATTRS{serial}=="A1001a6n",
#ATTRS{product}=="FT232R USB UART", SYMLINK+="usb2dynamixel12"

# The other USB2Dynamixel on Pi Robot controlling RX-24 servos
#KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", ATTRS{serial}=="A600cB3f",
#ATTRS{product}=="FT232R USB UART", SYMLINK+="usb2dynamixel12"

# The USB2Dynamixel servo controller on Pi Robot
KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", ATTRS{serial}=="A1001a6n",
ATTRS{product}=="FT232R USB UART", SYMLINK+="usb2dynamixel"

# The other USB2Dynamixel servo controller on Pi Robot
KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", ATTRS{serial}=="A600cB3f",
ATTRS{product}=="FT232R USB UART", SYMLINK+="usb2dynamixel"

# The IMU sensor on the Mock Turtle
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", ATTRS{serial}=="A600eIpn",
SYMLINK+="imu"

# The Create's control port (Mock Turtle)
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*",
ATTRS{manufacturer}=="Prolific Technology Inc.",
ATTRS{product}=="USB-Serial Controller",
SYMLINK+="create"

# The Hokuyo laser scanner
SUBSYSTEMS=="usb", KERNEL=="ttyACM[0-9]*",
ATTRS{manufacturer}=="Hokuyo Data Flex for USB",
ATTRS{product}=="URG-Series USB Driver",
SYMLINK+="laser"

# ArbotiX controller
KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", ATTRS{serial}=="A900g8Oc",
ATTRS{product}=="FT232R USB UART", SYMLINK+="arbotix"
