<launch>
	<!-- Load the robot model -->
	<include file="$(find pi_description)/launch/urdf.launch" />
	
	<!-- Fire up the ArbotiX servo controller for just the pan and tilt head joints -->
	<include file="$(find pi_arbotix)/launch/head_only.launch" />
	
	<node name="head_traj_controller" pkg="arbotix_controllers" type="traj_controller.py">
		<rosparam param="joints">[head_pan_joint, head_tilt_joint]</rosparam>
	</node>

</launch>