<launch>
  <!-- A short hand for the current package -->
  <arg name="pkg" value="$(find pi_slam_tutorial)" />

  <!-- Launch the move_base node and load all required parameters -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(arg pkg)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(arg pkg)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(arg pkg)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(arg pkg)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(arg pkg)/params/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(arg pkg)/params/navfn_params.yaml" command="load" />
  </node>
</launch>
