<launch>

  <!-- A short hand for the current package -->
  <arg name="pkg" value="$(find pi_slam_tutorial)" />

 <!-- Launch all the commond nodes -->
 <include file="$(arg pkg)/launch/nav_common.launch" />

  <!-- Run the map server with a blank map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg pkg)/maps/blank_map.yaml"/>

  <!-- Launch the move_base node -->
  <include file=""$(arg pkg)/launch/move_base.launch" />
  
  <!-- For dead reckoning we need static transforms between /odom and /map and /map and /world -->
  <node pkg="tf" type="static_transform_publisher" name="odom_map_trans" args="0 0 0 0 0 0 /odom /map 100" />
  <node pkg="tf" type="static_transform_publisher" name="world_map_trans" args="0 0 0 0 0 0 /map /world 100" /> 
    
</launch>
